@mainColor: #EA862E;
@buttonColor:#ee9f00;
@cart_width: 270px;
@cartColor: white;
@footer_height: 120px;
@header_height: 75px;
@header_left: 10px;


.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: @buttonColor !important;
  border-color: @buttonColor !important;
  outline:none !important;
}

@import "pizza/pizza-card";
@import "pizza/cart.less";
@import "pizza/header&footer.less";
@import "pizza/navigation.less";


body{
  margin-right: @cart_width;
  margin-top:@header_height + 5px;
  background-color: rgba(255,255,245,0.91);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  min-width:230px;
}

.container{
  width:100%;
}



@media (min-width: 1200px){   // very large
  body{
    background: grey;
  }
}
@media (max-width: 992px){   // medium
  .delivery{
    display:none;
  }
}
@media (max-width: 768px){  //small
  .time{
    display:none;
  }
}
@media (max-width: 576px){  //extra-small
  .entrance{
    margin-top: @header_height/2;
  }
  .header_down{
    display:none;
  }

}
