<% include common/header.ejs %>



<div class=" container-fluid ">
    <div class="categories ">
        <div class="all_pizza"><span class="type">Усі піци </span><span class="badge badge_menu">8</span></div>
        <ul class="nav nav-pills navigation ">
            <li role="presentation" class="active"><a href="#">Усі</a></li>
            <li role="presentation"><a href="#">М'ясні</a></li>
            <li role="presentation"><a href="#">З ананасами</a></li>
            <li role="presentation"><a href="#">З грибами</a></li>
            <li role="presentation"><a href="#">З морепродуктами</a></li>
            <li role="presentation"><a href="#">Вега</a></li>
        </ul>
    </div>
    <div class="row" id="pizza_list"></div>
</div>

<div id="cart">
    <div class="header_cart">
        <span class="count">Замовлення <span class="badge badge_order">0</span></span>
        <button type="button" class="btn btn-link deleteOrders">Очистити замовлення</button>
    </div>
    <div class="orders ">
    </div>
    <div class="footer_cart">
        <span class="sum_text">Сума замовлення</span><span class="sum"></span><br>
        <button class="btn btn-warning toOrder" >Замовити</button>
    </div>
</div>

<% include common/footer.ejs %>

