<div class=" discount">
    <img src="assets/images/discount.svg">
    <div class="base">
        <div class="discount_text">ЦЬОГО ТИЖНЯ НА ВСЕ</div>
        <div class="discount_percent">-20%</div>
    </div>
</div>

<footer class="footer ">
    <div class="footer_content">
        <p>Pizza.22 - практичний проект в межах курсу JavaScript в Києво-Могилянській Академії</p>
        <p>Доставка піци не здійснюється<p>
    </div>
</footer>


<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script src="//static.liqpay.com/libjs/checkout.js"> </script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDYDvu6W3bgIUlgnFw5TgaYmgW03XY5Aqk">
</script>
<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"> </script>
</body>
</html>